extends layout
block content
	#startpage

		h1.heading
			|Knees and Toes

		#figure1.figure

		#figure1_bubble.bubble
			.title Aktuelles


		#figure2.figure

		#figure2_bubble.bubble
			.title Erwachsene

		#figure3.figure

		#figure3_bubble.bubble
			.title Kinder und Jugendliche

		#figure4.figure

		#figure4_bubble.bubble
			.title Wer?

		#figure5.figure

		#figure5_bubble.bubble

		#figure6.figure

		#figure6_bubble.bubble

		#figure7.figure
		#figure8.figure
		#figure9.figure
		#figure10.figure
		#figure11.figure
		#figure12.figure
		#figure13.figure
		#figure14.figure
		#figure15.figure